[submodule "projects/mt5-tradingview-backtester"]
	path = projects/mt5-tradingview-backtester
	url = https://github.com/wuangnv/mt5-tradingview-backtester.git
	branch = Nam
[submodule "projects/vi-dubber"]
	path = projects/vi-dubber
	url = https://github.com/Miikey24s/mk-ai-dubber.git
	branch = main
[submodule "projects/quant-trading"]
	path = projects/quant-trading
	url = https://github.com/Miikey24s/mk-quant-trading.git
	branch = master
[submodule "projects/TradingAgents"]
	path = projects/TradingAgents
	url = https://github.com/Miikey24s/mk-trading-agents.git
	branch = main
